<h1 class="doc-page-title">Installation</h1>

<p>
    Ember-frost-object-browser is an <a class='frost-list-doc-link' href="http://www.ember-cli.com/">Ember-cli</a> addon. To
    install the addon, run the following command within your project directory.
</p>

<div class="highlight">
  <pre>
    <code class="language-text" data-lang="text">
        $ ember install ember-frost-object-browser
    </code>
  </pre>
</div>

<p>
    This command will install ember-frost-object-browser and bunch of dependencies it depended on to your application.
</p>
