<div class="dummy-notification-container">
	{{#each notifications as |notification|}}
		{{notification-message notification=notification}}
	{{/each}}
</div>

{{frost-select-outlet}}

<div class="frost-demo-nav-wrapper">
    <ui class="frost-demo-nav">
        <li class="demo-nav-item">{{#link-to "test" class='demo-link'}}Live Demo{{/link-to}}</li>
        <li class="demo-nav-item">{{#link-to "docs" class='demo-link'}}Docs{{/link-to}}</li>
        <li class="demo-nav-item"> <a href="https://github.com/cibernox/ember-power-select" class="demo-link">Github</a> </li>
    </ui>
</div>

<div class="dummy-body">
	<div class="dummy-content">
		{{outlet}}
	</div>
</div>