<h1 class="list-doc doc-title">Full access</h1>
<P>
    In the full API/component helper pattern, ember-frost-object-browser will only act like a layout system.
    Consumers will have the opportunity to decide which selection of the addon they want to use, and which component they want
    to render under each section. Any controls, actions, logics should be wired by users themselves.
</P>

<h2>Invocation</h2>

{{code-snippet name="api-detail-full-access-1.hbs"}}

<p>
    A more detailed rendering interface with
    ember-frost-bunsen, ember-frost-list,
    ember-frost-button and ember-frost-link. Check these components' doc if you want more detail.
    <strong>This is only an example.</strong>
</p>


{{code-snippet name="api-detail-full-access-2.hbs"}}
