<h1>How to config</h1>

<p>
    The configuration hash consist of four different selections.
</p>

{{code-snippet name="mixins-how-to-config-1.js"}}

<h2>Config List</h2>
<p>
    See detailed list configuration from ember-frost-list
</p>

<h2>Config Bunsen</h2>
<p>
    See detailed list configuration from ember-frost-bunsen
</p>

<h2>Config Controls</h2>

{{code-snippet name="mixins-how-to-config-2.js"}}


<h2>Config Serailizer</h2>

<p>
    See detailed list configuration from data serializer section
</p>