@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

$frost-action-bar-height: 60px;

@import 'frost-action-bar';

$frost-object-browser-actions-background-color: rgba(255, 255, 255, 0.95);
$frost-object-browser-actions-box-shadow: 0 8px 8px -8px #696868, 0 -8px 8px -8px #696868;

.frost-object-browser-route {
  display: flex;
  flex-direction: column;
  height: 100%;

  .frost-object-browser {
    padding-right: 5px;
  }
}

.frost-object-browser {
  .frost-list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &.actions-visible {
    .frost-list-content-container {
      margin-bottom: $frost-action-bar-height;
    }
  }

  .frost-list-content-container {
    &.paged {
      &:before {
        // Set to the background color of the scroll gutter to match the surrounding area
        background-color: $frost-color-lgrey-3;
      }
    }
  }

  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: $frost-color-lgrey-3;

  &-facets {
    display: flex;
    flex-direction: column;
    width: 230px;
    min-width: 0;
    margin: 20px 10px 10px;

    &-body {
      flex: 1;
      min-height: 0;
    }

    &-header {
      margin-bottom: 20px;
    }

    .frost-bunsen-input-text {
      &.frost-field {
        div {
          flex-direction: column;

          .left-label {
            text-align: left;
          }
        }
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      color: $frost-color-grey-5;
      font-size: $frost-font-m;
    }

    div {
      &.alias {
        display: inline;
        margin-top: 5px;
        margin-bottom: 10px;
        color: $frost-color-night-1;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .frost-select {
      width: 155px;

      input {
        &.trigger {
          color: $frost-color-grey-5;
        }
      }
    }

    .filter-header {
      margin-top: 10px;
      margin-bottom: 5px;

      >.down-arrow {
        display: inline;

        svg {
          width: 20px;
          height: 15px;
          stroke: $frost-color-grey-3;
        }
      }
    }

    .no-display {
      display: none;
    }
  }

  &-content {
    position: relative;
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  &-actions {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 15px 10px 0;
    background: $frost-object-browser-actions-background-color;
    box-shadow: $frost-object-browser-actions-box-shadow;
    z-index: 2;

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 15px 10px 0;
    }

    .frost-button,
    .frost-link {
      margin-left: 10px;
    }

    .items-selected {
      width: 100%;
      padding-left: 20px;
      color: $frost-color-grey-3;
      font-size: $frost-font-s;
    }
  }
}
