<h1 class="list-doc doc-title">Data drive</h1>

<p>
    The data drive API pattern is the recommended way to config your ember-frost-object-browser. It shipped with nice pre-designed Mixins which
    would help you handle sort, filter, page and polling with appropriate configuration.
</p>

<p>
    If you don't like any default methods provided by mixin,
    you can just override it in controller's actions hash with the correct key name.
</p>

<h2>Invocation</h2>

{{code-snippet name="api-detail-data-drive-1.hbs"}}

<p>
    User need define <code>objectBrowserConfig</code> property in the control layer.
    The mixin will then look it up and generated <code>objectBrowserMixinConfig</code> hash, which should be passed into object-browser via template.
</p>

{{code-snippet name="api-detail-data-drive-1.js"}}




