<h1>How to use</h1>

<p>To use mixins shipped with component, mixin them into coresponding controller and route.</p>

<h2>How to import controller mixin</h2>

{{code-snippet name="mixins-how-to-use-1.js"}}

<p>Detailed configurion will be demonstrated in
  {{#link-to 'docs.mixins.how-to-config' class="frost-doc-inline-link"}}How to config{{/link-to}}
    section.
</p>

<h2>How to import route mixin</h2>

{{code-snippet name="mixins-how-to-use-2.js"}}

<p>By default, route mixin will take over model hook, <strong>and user should not need to overwrite it.</strong>
    If you want to perform more operation in model hook, call <code>this._super</code> will give you a Promise
   which contains the processed response from server.
</p>

{{code-snippet name="mixins-how-to-use-3.js"}}

