@import 'frost-core';
@import 'frost-theme';

.dummy-notificationRowSelectcontainer {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }
}

.frost-list-item {
  display: flex;
  align-items: center;

  .frost-bunsen-detail {
    flex: 1;
  }
}

.dummy-body {
  height: 100%;

  .dummy-content {
      height: 100%;

    > .ember-view {
        height: 100%;
    }
  }
}
