  @import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }
}

.frost-list-item {
  display: flex;
  align-items: center;

  .frost-bunsen-detail {
    flex: 1;
  }
}

.dummy-body {
  height: 100%;

  .dummy-content {
      height: 100%;

    > .ember-view {
        height: 100%;
    }
  }
}

.dummy-content-view {
  flex: 1;
  display: flex;
  flex-direction: column;

  & .tools {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & .pagination {
    margin-left: auto;
  }

  .detail, .pagination {
    display: table;
    .button-bar, .text {
      display: table-cell;
      vertical-align: middle;

      &.left {
        padding-right: 5px;
      }

      &.right {
        .frost-icon {
          transform: scaleX(-1);
        }
      }
    }

    .text {
      padding-right: 5px;
    }

    .button-bar {
      > .frost-button.small:last-child {
        padding-right: 0px;
      }
      .frost-button {
        svg * {
          fill: $frost-color-grey-2;
          stroke: none;
        }

        &.small {
          padding: 0 5px;
        }

        &:hover {
          background: none;
        }
        &:disabled {
          opacity: 1;
          svg * {
            fill: $frost-color-blue-1;
          }
        }
      }
    }

    
  }

  & .frost-list {
    flex: 1;
  }

  .frost-list-item {
    .select-checkbox {
      .frost-checkbox {
        margin: 0 0 0 10px;
      }
    }
  }

  .frost-list .records {
    padding-left: 1px;
    border-left: none;
    border-right: none;
  }

  .frost-list .records > div {
    border: solid 2px transparent;
    border-top: solid 1px $frost-color-lgrey-1;
    padding: 6px 2px 6px 2px;
    width: calc(100% - 1px);
  }

  .frost-list .records > div:hover {
    border: solid 2px $frost-color-blue-1;
    padding-top: 5px;
  }
}

