{{! Template for the frost-action-bar component }}
<div class='{{css}}-selections'>
  {{string-pluralize selectedItems.length 'Item'}} selected
</div>
<div class='{{css}}-buttons'>
  {{#each controls as |control|}}
    {{component control}}
  {{/each}}
</div>
