<div class="frost-object-browser-info-bar">
  {{component header}}
</div>

<div class="frost-object-browser-body">

    <div class="frost-object-browser-facets">
        <div class="frost-object-browser-facets-header">Refined by</div>
        {{component facets}}
    </div>

    <div class="frost-object-browser-content">
      {{component content
        items=items
      }}
        <div class="frost-object-browser-actions">
          {{#each controls as |control|}}
            {{component control}}
          {{/each}}
        </div>
    </div>
</div>