<div class="block start frost-flex-1">
    <div class="row">
        <div class='select-checkbox'>
          {{frost-list-selection-indicator isSelected=isSelected}}
        </div>
        <div class="block column"></div>
    </div>
</div>
<div class='block frost-flex-1'>
    <div class='tertiary'>
        Primary id: {{record.id}}
    </div>
</div>
<div class='block frost-flex-1'>
    <div class='tertiary'>
        <span class='label'>Info:</span> {{record.alias}}
    </div>
</div>
<div class='block end frost-flex-1'>
    <div class='secondary'>
        <span class='label'>Last raised:</span> <b>{{record.last-raise-time}}</b>
    </div>
</div>