<ui class="frost-demo-nav">
    <li class="demo-nav-item">{{#link-to "demo.docs" class='demo-link'}}Doc{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "demo.lts-qp" class='demo-link'}}Live Demo{{/link-to}}</li>
</ui>

{{outlet}}

{{!--
    <li class="demo-nav-item">{{#link-to "examples" class='demo-link'}}Live Demo{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "infinite-scroll" class='demo-link'}}Infinite Scroll{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "qp-binding" class='demo-link'}}Query Binding{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "pre-selection" class='demo-link'}}Pre selection{{/link-to}}</li>
--}}