{{#frost-object-browser-inline
  itemsPerPage=6
  model=model.model
  onCreate=(action "onCreate")
  onDetailChange=(action "onDetailChange")
  onFacetChange=(action "onOptionSelected")
  onRowSelect=(action "onRowSelect")
  onSortChange=(action "onSortChange")
  title="Resources"
  subtitle="L3VPN Services"
  values=model.resources
  viewSchema=viewSchema
  filters=filters
  sortData=sortData
}}
  {{#block-slot slot 'actions'}}
    {{#each actionBarItems as |actionBarItem|}}
      {{#frost-button
        disabled=(not actionBarItem.enabled)
        onClick=(action 'onActionClick' actionBarItem.id)
        priority="secondary"
        size="large"
      }}
        <div class="text">{{actionBarItem.label}}</div>
      {{/frost-button}}
    {{/each}}
  {{/block-slot}}
{{/frost-object-browser-inline}}
