<h1>Reserved property</h1>

<p>Mixins reserves numbers of property names on control layer/controllor to wire up logic and workflow.
    Normally you should not overwrite them unless you are 100% aware what you are doing.
</p>

{{code-snippet name="mixins-reserved-property-1.js"}}



